@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-color:rgb(255, 255, 255);
}

.navbar-bg{
    background-color: rgb(255, 255, 255);
}

.container-fluid{
    margin:auto 50px;
    margin-top: 10px;
}

.container-fluid .navbar-brand{
    margin-right: 5px;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
}

.sign a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    letter-spacing: 1px;
    margin-top: 10px;
}

.sign a:hover{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    color: black;
}

.navbar-brand{
    font-weight: bold;
    letter-spacing: 0.5 px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
}

.navbar-brand i{
    color: rgb(0, 0, 0);
}

.nav-link{
    color:rgb(0, 0, 0)!important;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    color: rgb(255, 255, 255)!important;
}

.active{
    color: rgb(255, 255, 255)!important;
}

.required {
    color: red;
}

.blockquote-primary {
    background-color: rgba(40, 144, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
    padding-top: 1.1rem;
    font-size: 1.1rem;
}

.blockquote-pengajuan {
    background-color: rgba(119, 255, 40, 0.2);
    padding: 5px;
    border-radius: 5px;
    padding-top: 1.1rem;
    font-size: 1.1rem;
}

.blockquote-cancel {
    background-color: rgba(255, 40, 40, 0.2);
    padding: 5px;
    border-radius: 5px;
    padding-top: 1.1rem;
    font-size: 1.1rem;
}

.table-header th{
    position: sticky; 
    top: 0;
    background-color: rgb(44, 132, 255);
    color: white;
    text-align: center;
}

.table-container {
    max-height: 300px; 
    overflow-y: auto;
}

.button{
    background-color: rgb(60, 62, 62);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}

.button:hover{
    background-color: rgb(32, 214, 255);
    color: white;
}

.button:focus{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .img{
        position: absolute;
        margin-top: 40px;
        top: 0;
        display: block;
        width: 500px;
    }
    .col1{
        margin-top: 200px;
    }
}

@media screen and (max-width: 800px){
    .img{
        position: absolute;
        margin-top: 40px;
        top: 0;
        display: block;
        width: 500px;
    }
    .col1{
        margin-top: 200px;
    }
}

@media screen and (max-width: 1199px){
    .img{
        z-index: -1;
        width: 500px;
    }
}

@media screen and (max-width: 992px){
    .img{
        z-index: -1;
        width: 500px;
    }
}